
.container {
  width: 50%;
  padding: 0.3em;
}

.video {
  background-color: rgb(164, 167, 161);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(100, 94, 8);
  box-shadow: 4px 8px 7px 2px #383733;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.metadata {
  margin-left: 0.3em;
}

.title,
.channel {
  margin: 0;
  font-size: 0.9rem;
  
}

.channel {
  font-size: 0.6rem;
}
