.header { 
    display: flex;
    height: 4rem;
    padding: 0.3em 1em;
    background-color: black;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
    cursor: pointer;
}

.input {
    flex-basis: 100%;
    font-size: 1.2rem;
    outline: 0;
}

.button{
    background-color: rgb(92, 86, 86);
    outline: 0;
}

.buttonImg{
    height: 100%;
    padding: 0.5em 0.2em;
    cursor: pointer;
}

