.App {
    max-width: 80rem;
    
}   

.content {
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 48, 48);
    color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
    .content{
        flex-direction: row;
    }
}
    

.detail {
    flex: 1 1 70%;
}

.list {
    flex: 1 1 30%;
}